<!doctype html>
<html lang="en">
  <head>
    <style>
  * {font-family:Franklin Gothic;}
    </style>
    {% load static %}
    {% load socialaccount %}

    <link rel="stylesheet" type="text/css" href="{% static 'studybud/style.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Profile</title>
  </head>
  <body>
  {% comment %} Source: https://www.w3schools.com/ {% endcomment %}
    <body style="background-color:#FBE8A6;">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <img width="90px" height="90px"src="{% static "studybud/logo.png"%}" style="position:relative;">
      <a class="navbar-brand" href="/">Studybuddies</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="{% url 'studySpots' %}">Find a Study Spot</a>
          <a class="nav-item nav-link" href="{% url 'submitSession' %}">New Session</a>
          <a class="nav-item nav-link" href="{% url 'mySessions' %}">My Sessions</a>
        </div>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}</a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/profiles/profile">Profile</a></li>
                  <li><a class="dropdown-item" href="/profiles/logout">Logout</a></li>
          </li>
      </ul>
      </div>
      <img width="90px" height="90px"src="{% static "studybud/logo.png"%}" style="position:relative;">

    </nav>
    <div class="mt-5">
      {% block content %}
      {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
