
{% extends "profiles/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}


    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <label class="small mb-1">User:</label> {{ profile_form.user }}
                </div>
                <div class="col-md-5">
                    <label class="small mb-1">Bio:</label> {{ profile_form.bio }}
                </div>
                
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
            <button type="reset" class="btn btn-dark btn-lg">Reset</button>
        </form>
    </div>
{% endblock content %}
