
{% extends "profiles/base.html" %}
{% load static %}
{% block title %}Profile Page{% endblock title %}
{% block content %}

{% load socialaccount %}


{% comment %} Source: https://dev.to/earthcomfy/django-user-profile-3hik {% endcomment %}

<div class="row justify-content-center text-center">
    <div class="col-5">
        <div class="form-content">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div>
                        <label></label> {{ profile_form.user }}
                    </div>
                    <div >
                        <label>Bio:</label> {{ profile_form.bio }}
                    </div>
                </div>
                <br><br>
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <button type="reset" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>
</div>
<h3> Classes Enrolled In </h3>
{% for course in courses%}
  <p>{{course.subject}} {{course.catalog_number}}</p>
{% endfor %}

 <!--ADD CLASS BUTTON NEEDS BOOTSTRAPPING-->
 <div class="row justify-content-center text-center"></div>
 <div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="small mb-1">Add your classes</label>
                <br>
                 <form method="GET">
                      <input type = "text" name = "name" placeholder="Search..." class = "text-center">
                      <button type = "submit" class = "btn-light btn-sm">Search for Class</button>
                 </form>  
                </div>
                
            </div>
  </div>  
</div>
</div> 
<br><br>
{% if all_classes %}
<div class="row">
  <!-- {% for course in all_classes %}  -->
    <div class="col-md-4 col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <p class="card-title">{{ course.class_title }}</p>
          <hr>
          <p class="card-text"> {{ course.instructor }}</p>
          <p class="card-text">{{ course.subject}} {{ course.catalog_number }}</p>
          <p class="card-text"> section: {{ course.class_section }}</p>
          {% comment %} {% for entry in course %}
            {{entry}}
          {% endfor %}     {% endcomment %}

          <form name="toSave" method="post" action="{% url 'addCourse' %}">
            {% csrf_token %}
            <input type="hidden" name="courseInstructor" value={{course.instructor}} />
            <input type="hidden" name="courseSubject" value={{course.subject}} />
            <input type="hidden" name="courseCatNum" value={{course.catalog_number}} />
            <input type="hidden" name="user" value={{User}} />
            <input class="btn btn-primary float-end" type="submit" value="Add Class"/>
        </form>
          {% comment %} <a href="/profiles/{{courses.id}}"

  
          ><input
            type="submit"
            name = 'toSave'
            value="Add Class"
            class="btn btn-danger btn-sm"
            type="button"
        /></a> {% endcomment %}
        </div>
      </div>
      <br><br><br>
    </div>
  <!-- {% endfor %} -->
</div>
{% else %}
<br>
<p class="text-center">
    No classes added currently.
</p>
{% endif %}

</div>
{% endblock content %}
