{% extends "profiles/base.html" %}
{% load static %}
{% block content %}
{% load static %}
<center>
<link rel="stylesheet" type="text/css" href="{% static 'emailForm.css' %}">
{% if emailRecepient == null or emailRecepient == "" %}
    <form action="" method = "post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Submit">
    </form>


{% else %}
<h3> Send an Email to {{emailRecepient}}:</h3>
    <form action="" method = "post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Submit">
    </form>
{% endif %}
    </center>
{% endblock content %}