{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<li class ="list-group-item bg-transparent list-group-item-success"><a href = "{% url 'submitSession' %}"> Post a study Session </a>

<li class="list-group-item disabled">Posted Study Sessions:</li>
{% if session_list %}
    <ul class = "list-group">
    {% for session in session_list %}
    <li class ="list-group-item bg-transparent list-group-item-success">{{ session.course }}  {{ session.date}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p class="list-group-item">There are currently no scheduled Study Sessions.</p>
{% endif %}

