{% extends 'studybud/base.html' %}
{% load bootstrap5 %}
{% block content %}
{% load socialaccount %}

<title>Create a Session</title>

<style>
h1{
color:#000000
}
    input{
        color:#808080;
        text-shadow: 0px 0px #808080;
    }
    label{
    color:#000000;
    text-shadow: 0px 0px #808080;
    }
    option{
    color:#000000;
    text-shadow: 0px 0px #808080;
    }
    select{
    color:#808080;
    text-shadow: 0px 0px #808080;
    }
    p{
    font-size: 15px;
    color: black;
    }
</style>

    <div class="container">
        <div class="row justify-content-center mt-4">
            <h1 style="text-align:center;" >Post a New Session</h1>
            <br> <br><br>
            <center>
                <a class="btn btn-dark " href="{% url 'studySpots' %}" role="button" style="margin-bottom: 10px;">Don't know where to host you study session? Click here to check out some of UVA's study spots!</a>

            </center>
            <br><br> <br>
            <div class="col-6 align-items-center ">
                <form role="form" action="{% url 'postSession' %}" method = "post">
                    {% csrf_token %}
                    {% if error %}
                        <p>
                            <strong>{{ error }}</strong>
                        </p>
                    {% endif %}
                    <div class="mb-3">
                        <label for="date">Choose a time for your Study Session:</label>
                        <input type="datetime-local"
                               id="Date"
                               name="date"
                               value="{{nowt}}"
                               min={{nowt}}>
                    </div>
                    <div class="mb-3">
                        <input type="text"
                               class="form-control"
                               placeholder="Location"
                               id="Location"
                               name="location"
                               required>
                        <br>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control"
                                  value="submit"
                                  id="Details"
                                  name="details"
                                  rows
                                  6
                                  placeholder="Details"></textarea>
                        <small id="maxcharacter" class="form-text" style="color:#000000;text-shadow: 0px 0px #808080;">Maximum of 250 characters.</small>
                    </div>
                    <label for="courses">Choose a course:</label>
                    <select id="course" name="course">
                        {% for course in courses %}
                        {
                             <option value={{course.id}}>{{course.subject}} {{course.catalog_number}}</option>
                            
                        {% endfor %}
                    </select>
                    <div>
                        <input type="hidden"
                               id="Host"
                               name="Host"
                               value={{user.email}}>
                        <br>
                    </div>
                    <center>
                    {% buttons submit='Submit' %}
                        </center>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
