{% extends 'studybud/base.html' %}
{% block content %}
    {% comment %} <li class ="list-group-item bg-transparent list-group-item-success"><a href = "{% url 'submitSession' %}">Post a study Session</a> {% endcomment %}
    <div class="d-grid gap-2 d-md-block text-center">
        <h1 class="text-center" style="margin-bottom: 25px;">Home</h1>
        <a class="btn btn-primary " href="{% url 'submitSession' %}" role="button" style="margin-bottom: 10px;">+ New Session</a>
    </div>
    {% if session_list %}
        <div class="row justify-content-center">
            <div class="col-5">
                
                {% for session in session_list %}
                    <div class="row session"
                         onclick="location.href='{% url 'sessionDetail' session.id %}'">
                        <div class="row">
                            <div class="col">
                                <h4>{{ session.course }}</h4>
                            </div>
                            <div class="col-7">
                                <p class="text-center">
                                    {{ session.date }} @ {{ session.location }}
                                </p>
                            </div>
                            <div class="col-2">
                                onclick="location.href='{% url 'profilepage' %}'"
                                <a class="btn btn-primary float-end" href="#" role="button">Sign Up</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <br>
            <p class="text-center">
                There are currently no scheduled study sessions.
            </p>
        {% endif %}
    </div>
{% endblock %}
