{% extends 'studybud/base.html' %}
{% block content %}

{%load static%}

<title>Home</title>
<style>
    .content{
    height: 100vh;
    width: 100vw;
    background-image: url({% static 'sbg.png' %});
    background-size: contain;
    background-repeat: repeat;
    }
    body{
    height: 100vh;
    width: 100vw;
    background-image: url({% static 'sbg.png' %});
    background-size: cover;
    background-repeat: repeat;
    }
    h1 {
        color: BLACK;
        font-size: 70px;
       -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;

    }

    p {
        color: black;
        font-size: 30px;
        -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    }

    a {}

    * {
        color: black;
    }

    h4 {
        font-size: 20px;
        color: #1E1E1E;
        margin-bottom: 2%;
        margin-top: 2%;
        margin-left: 25%;
        margin-right: 25%;
    }
</style>
{% if messages %}
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
  {% else %} 
    <div class="alert alert-success" role="alert">
      {{message}}
    </div>
    {% endif %}
  {% endfor %}
{% endif %}

<div class="content">
{% comment %} <li class="list-group-item bg-transparent list-group-item-success"><a
        href="{% url 'submitSession' %}">Post a study Session</a> {% endcomment %}
    <div class="d-grid gap-2 d-md-block text-center">
        <h1 class="text-center" style="margin-bottom: 25px; padding-top: 5%;">Hello, {{user.username}}</h1>
        <a class="btn btn-dark " href="{% url 'submitSession' %}" role="button" style="margin-bottom: 10px; background-color: #ffffff;">Post a New
            Session</a>
    </div>

    <div class="row justify-content-center text-center">
        <form role="form" name="selectCourse" method="get" action="{% url 'sessions' %}">
            {% csrf_token %}
            <select id="course" name="course">
                <option value="all" selected>All</option>
                {% for course in courses %}
                <option name="course" value={{course.id}}>{{course.subject}} {{course.catalog_number}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-dark" style="margin-top: 20px; margin-bottom: 20px"
                value="Submit">Submit</button>
        </form>
    </div>
    {% if session_list %}
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="text-center">
            </div>
            {% for session in session_list %}
            <div class="row session" onclick="location.href='{% url 'sessionDetail' session.id %}'">
                <div class="row">
                    <div class="col-2">
                        <h4>{{ session.course }}</h4>
                    </div>
                    <div class="col-7">
                        <p class="text-center" style="font-size: 25px">
                            {{ session.date }} @ {{ session.location }}
                        </p>
                    </div>
                    <div class="col-2">

                        <form name="signUp" method="post" action="{% url 'signUp' %}">
                            {% csrf_token %}
                            <input type="hidden" name="sessionid" value={{session.id}} />
                            <input class="btn btn-dark float-end" type="submit" value="Sign up" />
                        </form>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <br>
        <p class="text-center" style="font-size: 20px">
            There are currently no available study sessions.
        </p>
        {% endif %}
        <center >
            <a class="btn btn-dark " href="{% url 'mySessions' %}" role="button" style="margin-bottom: 10px;  background-color: #ffffff;">View sessions you signed up for</a>
        </center>
    </div>
</div>
{% endblock %}
<!-- view sessions you are enrolled in -->