{% extends 'studybud/base.html' %}
{% load bootstrap5 %}
{% block content %}

    <div class="container">
        <div class="row justify-content-center mt-4">
            <h1 style="text-align:center;">Post a New Trip</h1>
            <div class="col-6 align-items-center ">
                <form role="form" action="{% url 'postSession' %}" method = "post">
                    {% csrf_token %}
                    {% if error %}
                        <p>
                            <strong>{{ error }}</strong>
                        </p>
                    {% endif %}
                    <div class="mb-3">
                        <label for="date">Choose a time for your Study Session:</label>
                        <input type="datetime-local"
                               id="Date"
                               name="date"
                               value="2022-03-12T19:30"
                               min="2022-01-07T00:00">
                    </div>
                    <div class="mb-3">
                        <input type="text"
                               class="form-control"
                               placeholder="Location"
                               id="Location"
                               name="location"
                               required>
                        <br>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control"
                                  value="submit"
                                  id="Details"
                                  name="details"
                                  rows
                                  6
                                  placeholder="Details"></textarea>
                        <small id="maxcharacter" class="form-text">Maximum of 250 characters.</small>
                    </div>
                    <label for="courses">Choose a course:</label>
                    <select id="course" name="course">
                        {% for course in courses %}
                             <option value={{course.id}}>{{course.subject}} {{course.catalog_number}}</option>
                            
                        {% endfor %}
                    </select>
                    {% buttons submit='Submit' %}
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
