{% extends 'studybud/base.html'%}
{% block content %}
<body>
<center>
<h1> Clemons Library </h1>
<p>164 McCormick Rd, Charlottesville, VA 22903</p>

<h5>Hours of Operation</h5>
<p>Monday-Thursday: Open 24 Hours <br>
Friday: 12AM - 11:59PM<br>
Saturday: 9AM - 11:59PM <br>
    Sunday: 10AM - 12AM<br>
</p>
<a href="https://cal.lib.virginia.edu/reserve/spaces/clemons"">Reserve a Room in Clemons Library</a>

<hr>
<h1> Brown Science and Engineering Library in Clark Hall </h1>
<p>291 McCormick Rd, Charlottesville, VA 22903</p>

<h5>Hours of Operation</h5>
<p>Monday-Thursday: 8AM - 2AM <br>
Friday: 8AM - 9PM<br>
Saturday: 9AM - 6PM <br>
    Sunday: 10AM - 2AM<br>
</p>
<a href="https://cal.lib.virginia.edu/reserve/spaces/Brown"">Reserve a Room in Brown Library</a>
<hr>
<h1> Fine Arts Library </h1>
<p>110 Bayly Dr, Charlottesville, VA 22903</p>

<h5>Hours of Operation</h5>
<p>Monday-Thursday: 9AM - 11PM <br>
Friday: 9AM - 6PM<br>
Saturday: CLOSED <br>
    Sunday: 1AM - 11PM<br>
</p>
<a href="https://cal.lib.virginia.edu/reserve/spaces/FineArts">Reserve a Room in the Fine Arts Library</a>
<hr>
<h1> Music Library </h1>
<p>Old Cabell Hall, Charlottesville, VA 22903</p>

<h5>Hours of Operation</h5>
<p>Monday-Thursday: 9AM - 11PM <br>
Friday: 9AM - 6PM<br>
Saturday: CLOSED <br>
    Sunday: 1AM - 11PM<br>
</p>
<a href="https://cal.lib.virginia.edu/reserve/spaces/Music">Reserve a Room in the Music Library</a>
<hr>
<h1> The Rotunda </h1>
<p>1826 University Ave, Charlottesville, VA 22903</p>

<h5>Hours of Operation</h5>
<p>Sunday-Tuesday: 5PM - 10PM <br>
Wednesday-Saturday: CLOSED <br>
</p>
<hr>
<h1> 1515 at UVA </h1>
<p>1515 University Ave, Charlottesville, VA 22903</p>

<h5>Hours of Operation</h5>
<p>Monday-Saturday: 7AM - 12AM <br>
Saturday: CLOSED <br>
</p>
<hr>

<h1> Reservable Classrooms </h1>
<a href="https://classrooms.its.virginia.edu/reserve">Reserve a Classroom</a>
    </center>
</body>

{% endblock %}


